h1{
    font-family: 'Recursive', sans-serif;
    font-size: 10rem;
    animation: vars 8s infinite linear;
}

@keyframes vars{
    0%{
        font-variation-settings: "CASL" 1, "CRSV" 1, "wght" 300, "slnt" 0;
    }
    25%{
        font-variation-settings: "CASL" 0, "CRSV" 0, "wght" 600, "slnt" -10;
    }
    75%{
        font-variation-settings: "CASL" 0, "CRSV" 0, "wght" 300, "slnt" -10;
    }
    100%{
        font-variation-settings: "CASL" 1, "CRSV" 1, "wght" 300, "slnt" 0;
    }
}